@model List<lab1_ef.Room>

    <div><img src="~/images/1.jpg" /></div>
    @using (Html.BeginForm())
    {
        <h2>Залы</h2>
        <div>
            <ul>
                <li><p>ID, Зал, Прайс</p></li>
                @foreach (var room in Model)
                {
                    <li>
                        <p>@room.RoomId, @room.RoomNo, @room.Cost</p>
                    </li>
                }
            </ul>
        </div>
    }
